@import "tailwindcss";

@theme {
  --breakpoint-xxs: 300px;
  --breakpoint-xs: 500px;
  --breakpoint-sm: 700px;
  --breakpoint-md: 850px;
  --breakpoint-xxl: 1500px;
  --breakpoint-xxxl: 1800px;
  --color-primary: #ffc800;
  --color-success: #89e219;
  --color-error: #ff4b4b;
  --color-background-100: #f5f5f5;
  --color-background-200: #ababab;
  --color-background-300: #999999;
  --color-background-400: #5f5f5f;
  --color-background-500: #363636;
  --color-background-600: #1c1c1c;
  --color-background-700: #1b1c1d;
  --color-background-800: #161719;
  --color-background-900: #000000;
}

@layer base {
  .text-button-normal {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: normal;
  }

  .text-button-bold {
    font-family: "DM Sans", sans-serif;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}

/* Global scrollbar styles */
*::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}
